<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--th:replace="_fragments :: head(~{::title})中，head是片段的名字，相当于方法名，然后括号中是参数，将本页的title
替换掉_fragments中的title-->
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>找找bug</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
<!--    此处提示找不到me.css，因为运用了thymeleaf模板引擎，所以此处需要加上th:href="@{/css/me.css}才能访问到，此处的路径是context路径，
页支持绝对路径-->
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
    <!--导航-->
    <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
<!--            stackable用来适应移动端，使其中的每一模块垂直排列-->
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search....">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- 手机端下拉框图标实现-->
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <!-- sidebar是下拉框图标-->
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--中间内容-->
    <div class="m-container m-padded-tb-big m-opacity-mini">

        <!--        container可以使它包含的区域内容显示出来的时候有一个好的空间效果-->
        <div class="ui container animated fadeInUp">
            <!--            grid区域可以分为十七份，任意组合份数可以定义多个区域-->
            <div class="ui stackable grid">
                <!--                左边博客列表-->
                <div class="eleven wide column">

                    <!--                    header-->
                    <!--                    segment可以显示一个透明的组件块区域-->
                    <!--                    attached会将segment区域连接在一起-->
                    <div class="ui top attached segment">
                        <!--                        middle aligned垂直居中-->
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui teal header">博客</h3>
                            </div>
                            <!--                            h1、h2、h3是block元素，要占div区域的一整行-->
                            <div class="right aligned column">
                                共<h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"> 14 </h2>篇
                            </div>
                        </div>
                    </div>

                    <!-- content-->
                    <div class="ui attached segment">
                        <!--                        vertical使segment区域扩展开来与上下的segment重合在一起,并且在底部有一条直线-->
                        <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                            <!--                            middle aligned    垂直居中-->
                            <!--                            mobile reversed是在移动端显示的时候，先显示five wide column区域，然后再显示eleven wide column区域-->
                            <div class="ui middle aligned mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <!--                                    target="_blank"  在新窗口打开超链接-->
                                    <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你你你你你你你</a></h3>
                                    <!--                                    |${blog.description}......|    两个竖杠可以将字符串连接-->
                                    <p class="m-text" th:text="|${blog.description}......|">snindianfiahfahfjahhfsh您死啊的哈哈动画近四年的呆呆hi话读书hi划分胡</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <!--                                            horizontal link list是水平分布的条目-->
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <!--                                                    avatar image是一个圆形图片-->
                                                    <img src="https://picsum.photos/id/1000/100/100" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                                    <!--                                                    content可以在图片之后添加文字-->
                                                    <div class="content"><a herf="#" class="header" th:text="${blog.user.nickname}">何定钦</a></div>
                                                </div>
                                                <div class="item">
                                                    <!--                                                    #dates.format(blog.updateTime,'yyyy-MM-dd')       按照yyyy-MM-dd格式更改blog.updateTime的日期-->
                                                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-11-28</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i><span th:text="${blog.views}">2354</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                        <img src="https://picsum.photos/id/1000/800/450" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <!--/*-->
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <!--                            mobile reversed是在移动端显示的时候，先显示five wide column区域，然后再显示eleven wide column区域-->
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你你你你你你你</h3>
                                    <p class="m-text">snindianfiahfahfjahhfsh您死啊的哈哈动画近四年的呆呆hi话读书hi划分胡</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <!--                                            horizontal link list是水平分布的条目-->
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <!--avatar image是一个圆形图片-->
                                                    <img src="https://picsum.photos/id/1000/100/100" alt="" class="ui avatar image">
                                                    <!-- content可以在图片之后添加文字-->
                                                    <div class="content"><a herf="#" class="header">何定钦</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2020-11-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2354
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1000/800/450" alt="" class="ui rounded image">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <!--                            mobile reversed是在移动端显示的时候，先显示five wide column区域，然后再显示eleven wide column区域-->
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你你你你你你你</h3>
                                    <p class="m-text">snindianfiahfahfjahhfsh您死啊的哈哈动画近四年的呆呆hi话读书hi划分胡</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <!--                                            horizontal link list是水平分布的条目-->
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <!--                                                    avatar image是一个圆形图片-->
                                                    <img src="https://picsum.photos/id/1000/100/100" alt="" class="ui avatar image">
                                                    <!--                                                    content可以在图片之后添加文字-->
                                                    <div class="content"><a herf="#" class="header">何定钦</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2020-11-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2354
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1000/800/450" alt="" class="ui rounded image">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <!--                            mobile reversed是在移动端显示的时候，先显示five wide column区域，然后再显示eleven wide column区域-->
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你你你你你你你</h3>
                                    <p class="m-text">snindianfiahfahfjahhfsh您死啊的哈哈动画近四年的呆呆hi话读书hi划分胡</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <!--                                            horizontal link list是水平分布的条目-->
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <!--                                                    avatar image是一个圆形图片-->
                                                    <img src="https://picsum.photos/id/1000/100/100" alt="" class="ui avatar image">
                                                    <!--                                                    content可以在图片之后添加文字-->
                                                    <div class="content"><a herf="#" class="header">何定钦</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2020-11-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2354
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1000/800/450" alt="" class="ui rounded image">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <!--                            mobile reversed是在移动端显示的时候，先显示five wide column区域，然后再显示eleven wide column区域-->
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你你你你你你你</h3>
                                    <p class="m-text">snindianfiahfahfjahhfsh您死啊的哈哈动画近四年的呆呆hi话读书hi划分胡</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <!--                                            horizontal link list是水平分布的条目-->
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <!--                                                    avatar image是一个圆形图片-->
                                                    <img src="https://picsum.photos/id/1000/100/100" alt="" class="ui avatar image">
                                                    <!--                                                    content可以在图片之后添加文字-->
                                                    <div class="content"><a herf="#" class="header">何定钦</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2020-11-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2354
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1000/800/450" alt="" class="ui rounded image">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <!--                            mobile reversed是在移动端显示的时候，先显示five wide column区域，然后再显示eleven wide column区域-->
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你你你你你你你</h3>
                                    <p class="m-text">snindianfiahfahfjahhfsh您死啊的哈哈动画近四年的呆呆hi话读书hi划分胡</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <!--                                            horizontal link list是水平分布的条目-->
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <!--                                                    avatar image是一个圆形图片-->
                                                    <img src="https://picsum.photos/id/1000/100/100" alt="" class="ui avatar image">
                                                    <!--                                                    content可以在图片之后添加文字-->
                                                    <div class="content"><a herf="#" class="header">何定钦</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2020-11-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2354
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1000/800/450" alt="" class="ui rounded image">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <!--                            mobile reversed是在移动端显示的时候，先显示five wide column区域，然后再显示eleven wide column区域-->
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你你你你你你你</h3>
                                    <p class="m-text">snindianfiahfahfjahhfsh您死啊的哈哈动画近四年的呆呆hi话读书hi划分胡</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <!--                                            horizontal link list是水平分布的条目-->
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <!--                                                    avatar image是一个圆形图片-->
                                                    <img src="https://picsum.photos/id/1000/100/100" alt="" class="ui avatar image">
                                                    <!--                                                    content可以在图片之后添加文字-->
                                                    <div class="content"><a herf="#" class="header">何定钦</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2020-11-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2354
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1000/800/450" alt="" class="ui rounded image">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <!--                            mobile reversed是在移动端显示的时候，先显示five wide column区域，然后再显示eleven wide column区域-->
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你你你你你你你</h3>
                                    <p class="m-text">snindianfiahfahfjahhfsh您死啊的哈哈动画近四年的呆呆hi话读书hi划分胡</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <!--                                            horizontal link list是水平分布的条目-->
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <!--                                                    avatar image是一个圆形图片-->
                                                    <img src="https://picsum.photos/id/1000/100/100" alt="" class="ui avatar image">
                                                    <!--                                                    content可以在图片之后添加文字-->
                                                    <div class="content"><a herf="#" class="header">何定钦</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2020-11-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2354
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1000/800/450" alt="" class="ui rounded image">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="ui padded vertical segment m-padded-tb-large">
                            <!--                            mobile reversed是在移动端显示的时候，先显示five wide column区域，然后再显示eleven wide column区域-->
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">你你你你你你你</h3>
                                    <p class="m-text">snindianfiahfahfjahhfsh您死啊的哈哈动画近四年的呆呆hi话读书hi划分胡</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <!--                                            horizontal link list是水平分布的条目-->
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <!--                                                    avatar image是一个圆形图片-->
                                                    <img src="https://picsum.photos/id/1000/100/100" alt="" class="ui avatar image">
                                                    <!--                                                    content可以在图片之后添加文字-->
                                                    <div class="content"><a herf="#" class="header">何定钦</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2020-11-28
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2354
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://picsum.photos/id/1000/800/450" alt="" class="ui rounded image">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <!--*/-->
                    </div>

                    <!--                    footer-->
                    <div class="ui bottom attached segment">
                        <!--                        middle aligned垂直居中-->
                        <div class="ui middle aligned two column grid" th:if="${page.totalPages}>1">
                            <div class="column">
                                <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
                            </div>
                            <!--                            h1、h2、h3是block元素，要占div区域的一整行-->
                            <div class="right aligned column">
                                <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                右边top-->
                <div class="five wide column">
                    <!--                    分类-->
                    <div class="ui segments">
                        <!--                        ui secondary segment是灰底的segment-->
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i>分类
                                </div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{/types/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <!--                             vertical menu是垂直的菜单，fluid可以填充整个区域-->
                            <div class="ui fluid vertical menu">
                                <!--                                item中文字居左，标签或图片居右-->
                                <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item" th:each="type : ${types}">
                                    <span th:text="${type.name}">学习日志</span>
                                    <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                                </a>
                                <!--/*-->
                                <a href="#" class="item">
                                    学习日志
                                    <div class="ui teal basic left pointing label">13</div>
                                </a>
                                <a href="#" class="item">
                                    学习日志
                                    <div class="ui teal basic left pointing label">13</div>
                                </a>
                                <a href="#" class="item">
                                    学习日志
                                    <div class="ui teal basic left pointing label">13</div>
                                </a>
                                <a href="#" class="item">
                                    学习日志
                                    <div class="ui teal basic left pointing label">13</div>
                                </a>
                                <a href="#" class="item">
                                    学习日志
                                    <div class="ui teal basic left pointing label">13</div>
                                </a>
                                <!--*/-->
                            </div>
                        </div>
                    </div>

                    <!--                    标签-->
                    <div class="ui segments m-margin-top-large">
                        <!--                        ui secondary segment是灰底的segment-->
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tags icon"></i>标签
                                </div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{/tags/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny" th:each="tag : ${tags}">
                                <span th:text="${tag.name}">方法论 </span><div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                            </a>
                            <!--/*-->
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                                方法论 <div class="detail">23</div>
                            </a>
                            <!--*/-->
                        </div>
                    </div>

                    <!--                    最新推荐-->
                    <div class="ui segments m-margin-top-large">
                        <!--                        ui secondary segment是灰底的segment-->
                        <div class="ui secondary segment ">
                            <i class="bookmark icon"></i>最新推荐
                        </div>
                        <div class="ui segment" th:each="blog : ${recommendBlogs}">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin" th:text="${blog.title}">用户故事（User Story）</a>
                        </div>
                        <!--/*-->
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
                        </div>
                        <div class="ui segment">
                            <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
                        </div>
                        <!--*/-->
                    </div>
                    <!--                    二维码-->
                    <!--                    horizontal divider header是得到水平的一条分割线，这个分割线是一个标题，因此与其上部组件会有间隔距离-->
                    <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
                    <!--                    centered是居中-->
                    <div class="ui centered card" style="width:11em">
                        <img src="../static/images/wechat3.jpg" th:src="@{/images/wechat3.jpg}" alt="" class="ui rounded image" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!--底部-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <!--将这一行分为十六份-->
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                        <a href="#" class="item">用户故事(User Story)</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:hedqlkq@163.com</a>
                        <a href="#" class="item">QQ:1933586585</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">blog</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的分享......</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">copyright by hdq</p>
        </div>

    </footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
    <script>
       $('.menu.toggle').click(function () {
           $('.m-item').toggleClass('m-mobile-hide');
       });
    </script>


</body>
</html>